

img.right {
    float: right;
    margin: 1em;
}

img.left {
    float: left;
    margin: 1em;
}

a {
    text-decoration: none;
    transition: text-decoration 0.5s;
    &:after {
        display: none;
        transition: none;
        transform: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
