

article img.right {
    float: right;
    margin: 0em 0em 0em 1em;
    display: block;
    box-sizing: border-box;
}

article img.left {
    float: left;
    margin: 0em 1em 0em 0em;
    display: block;
    box-sizing: border-box;
}

article a {
    text-decoration: none;
    color: #1863a1;

    transition-property: color;

    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
}

article a:after {
    display: none;
    transition: none;
    transform: none;
}

article a:hover {
    text-decoration: underline;
    color: #0181eb;
}

article :is(h1, h2, h3, h4) {
    clear: both;
}
