:root {
  --borderRadius: 4px;
  --mutedTextColor: dimgray;
}


/* image process classes */

.article-content p img.image-process-inline {
    padding: 0;
    display: block;
    box-sizing: border-box;
    clear: both;
    width: 300px;
    height: 225px;
}

.article-content p img.image-process-upline {
    padding: 0;
    display: block;
    box-sizing: border-box;
    clear: both;
    width: 225px;
    height: 300px;
}

.article-content p img.right {
    float: right;
    margin: 0.2em 0em 0em 1em;
}

.article-content p img.left {
    float: left;
    margin: 0.2em 1em 0em 0em;
}


/* fixing links */

.article-content a {
    text-decoration: none;
    color: #1863a1;

    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.article-content a:hover {
    text-decoration: underline;
    color: #0181eb;
}


/* removing redundant lines on main page */

div.blog-archives div:last-of-type, div.recent-posts-article:last-of-type, ul.list-projects li:last-of-type {
    border-bottom: none;
}


/* trailing all posts link on main page */

div#articles-all-tail {
    width: 100%;
    padding-top: 2em;
}

div#articles-all-tail a.allposts {
    float: right;
    font-size: 16pt;
    color: var(--mutedTextColor);
}

a.allposts:hover {
    text-decoration: none;
}


/* prettier footer */

footer {
    background-color: #f9f9f9;
    background-image: linear-gradient(180deg,#f2f2f2,#fff);
    background-repeat: repeat-x;
    box-shadow: 0 1px -10px rgba(0,0,0,.1);
    border: 1px solid #d3d3d3;
}


/* changelog dates shoould be fixed-width */

#changelog + dl > dt {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 0.5em;
    margin-bottom: 0px;
}


/* The end. */
