:root {
  --borderRadius: 4px;
  --mutedTextColor: dimgray;
  --linkColor: #1863a1;
  --linkHoverColor: #0181eb;
}


h1, h2, h3, h4 {
    clear: both;
    break-before: always;
}


/* index page div wrapping summary paragraph(s) */

div.recent-posts-summary {
    margin-top: 0.5em;
}


/* image process classes */

img.image-process-inline {
    padding: 0;
    display: block;
    box-sizing: border-box;
    clear: both;
    width: 300px;
    height: 225px;
    border-radius: 0.5em;
    object-fit: cover;
}

img.image-process-upline {
    padding: 0;
    display: block;
    box-sizing: border-box;
    clear: both;
    width: 225px;
    height: 300px;
    border-radius: 0.5em;
    object-fit: cover;
}

img.image-process-photo {
    padding: 0px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    clear: both;
    border-radius: 1em;
    object-fit: cover;
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.article-content p img.right {
    float: right;
    margin: 0.2em 0em 0em 1em;
}

.article-content p img.left {
    float: left;
    margin: 0.2em 1em 0em 0em;
}


/* fixing links */

.article-content a {
    text-decoration: none;
    color: var(--linkColor);
}

.article-content a:hover {
    text-decoration: underline;
    color: var(--linkHoverColor);
}


/* removing redundant lines on main page */

div.blog-archives div:last-of-type, div.recent-posts-article:last-of-type, ul.list-projects li:last-of-type {
    border-bottom: none;
}


/* trailing all posts link on main page */

div#articles-all-tail {
    width: 100%;
    padding-top: 2em;
}

div#articles-all-tail a.allposts {
    float: right;
    font-size: 16pt;
    color: var(--mutedTextColor);
}

a.allposts:hover {
    text-decoration: none;
}


/* prettier footer */

footer {
    background-color: #f9f9f9;
    background-image: linear-gradient(180deg,#f2f2f2,#fff);
    background-repeat: repeat-x;
    box-shadow: 0 1px -10px rgba(0,0,0,.1);
    border: 1px solid #d3d3d3;
}


/* changelog dates shoould be fixed-width */

#changelog + dl > dt {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 0.5em;
    margin-bottom: 0px;
}


/* fixing code scrolling. Note that this is presuming that the
   markdown codehilite extension is configured to use css_class
   named "highlight" */

.highlight {
  overflow-y: auto;
  white-space: pre;
  word-wrap: unset;
}

.highlight pre {
  box-sizing: border-box;
  line-break: unset;
  white-space: pre;
  width: 100%;
  word-break: unset;
  word-wrap: unset;
}

.highlight code {
  text-align: left;
  white-space: pre;
}

.highlight span {
  text-align: left;
  word-wrap: unset;
  white-space: nowrap;
}


/* The end. */
