{% extends 'base.html' %}

{% block title %}
{{ page.title|striptags|e }} {% if page.subtitle %} - {{ page.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags|e }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}

{% from '_includes/smo_metadata.html' import smo_metadata with context %}
{{ smo_metadata(page) }}
{% endblock meta_tags_in_head %}

{% block content %}
<article>
  <div class="row-fluid">
    <header class="page-header span10 offset2">
      <h1 property="title">
        <a href="{{ SITEURL }}/{{ page.url }}">
          {{ page.title }}
          {% if page.subtitle %}
          <small>
            <br /> {{ page.subtitle }}
          </small>
          {% endif %}
        </a>
      </h1>
    </header>
  </div>

<div class="row-fluid">
    {% if page.toc %}
    <div class="span2 table-of-content">
        <nav>
        <h4>Contents</h4>
        {{ page.toc }}
        </nav>
    </div>
    <div class="span8 article-content">
        {% else %}
        <div class="span8 offset2 article-content">
            {% endif %}

            <main>
              {{ page.content }}
            </main>
            {% from '_includes/comments.html' import comments_section with context %}
            {{ comments_section(page) }}
        </div>

        <section id="article-sidebar" class="span2">
          {% if page.date %}
          <h4>Published</h4>
          {% set day = page.date.strftime('%d')|int %}
          <time itemprop="dateCreated" datetime="{{ page.date.isoformat() }}">{{ page.locale_date }}</time>
          {% endif %}

          {% if page.locale_modified and page.modified %}
          {% set delta = (page.modified - page.date).days %}
          {% if delta > 0 %}
          <h4>Updated</h4>
          <time datetime="{{ page.modified.isoformat() }}">{{ page.locale_modified }}</time>
          {% endif %}

          {% elif page.modified %}
          <h4>Updated</h4>
          <div class="last-updated">{{ page.modified }}</div>
          {% endif %}

          {% include '_includes/social_links.html' %}
        </section>
    </div>
</article>
    {% include '_includes/photoswipe.html' %}
    {% endblock content %}

    {% block script %}
    {{ super() }}
    {% from '_includes/comments.html' import comments_script with context %}
    {{ comments_script() }}
    {% endblock script %}
